*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto';
    src: url(шрифты/Roboto-VariableFont_wdth,wght.ttf);
}
body{
    color: #004449;
    font-family: 'Roboto' , sans-serif;
}
header{
    width: 100%;
    height: 50px;
    background-color: #004449;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav p{
    font-size: 12px;
    color:#D7FFC2;
}
a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.4s all ease;
}
a:hover{
    color:greenyellow; 
}
.section1{
    background-color: #004449;
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section1 h1:first-line{ 
    color: white; 
}
.section1 p{
    margin: 25px 0;
    font-size: 32px;
    color: white;
}
.section1 button{
    border-radius: 30px;
    border: none;
    width: 338px;
    height: 56px;
    background-color: #0BFF80;
    color:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section1 h1{
    font-size: 80px;
    color: #FFAC7F;
    font-weight: 400;
}
.lasttext{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lasttext p{
    font-size: 18px;
}
.image{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.section2{
    background-image: url(картинки/fon.png);
    width: 100%;
    height: 1200px;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.hgw{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hgw{
   text-align: center;
}
p{ 
    font-size: 16px;
    line-height: 1.5;
}
h2{ font-size: 24px;     
    font-weight: 400;
}
h1{ font-size: 48px;     
    font-weight: 400;
}
.txt{
    background-color: white;
    border-radius: 7px;
    width: 357px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.hight{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.txt p{
    text-align: center;
    margin: 0 auto;
}
.p1{
    line-height: 1.5;
    font-size: 11px;
}
.gone{ 
    color: #007A83; margin-left: 10px;
}
.bg{
    display: flex;
}
button{
    color: white;
    background-color: #483CFF;
    border-radius: 50px;
    width: 140px;
    height: 100px;
    border: none;
    line-height: 1.5;
}
.booked{
    background-color: #D7FFC2;
    width: 765px;
    height: 370px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section3{
    height: 894px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.price{
    background-color: #FDD6BA;
    border-radius: 50px;
    width: 126px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.section3 h2{
    font-size: 25px;
    white-space: nowrap;
}
.s3_img{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
span{
    background-color: #D7FFC2;
    margin: 0 10px;
}
.section3 button, .s4_button button{
    background-color: #004449;
    border-radius: 40px;
     border: none;
     width: 48px;
    height: 48px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mir, .b1{
    transform: scaleX(-1);
}
.foti_2, .foti_1, .foti_3{
    width: 303px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section4{
     background-image: url(картинки/fon2.png);
    width: 100%;
    height: 1078px;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section4 h1{
    font-size: 64px;
}
.blokText{
    width: 115%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blokText div, .del{
    width: 326px;
    height: 365px;
    background-color: white;
    margin: 0 10px;
    padding: 40px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.zagolovok{
    text-align: center;
    margin-bottom: 100px;
}
.s4_button{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section5{
    width: 100%;
    height: 664px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mili{
    position: absolute;
    width: 58%;
    height: 565px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.textik{
    width: 944px;
    height: 388px;
    background-color: #BAEBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
footer{
    width: 100%;
    height: 575px;
    background-color: #004449;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
footer p{
    color: white;
}
.spiski{
    padding: 50px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 3;
}
.alo{
    margin-bottom: 40px;
}
footer .ale{
    padding: 0 0 0 250px;
}
.conec{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.conec h2{
    font-size: 14px;
}

@media (min-width:430px) and (max-width:740px)
{
    .section1{
        height: 1000px;
    }
    .section1 h1{
        font-size: 55px;
    }
    .section1 p {
        font-size:22px;
    }
    .section1 button{
    width: 200px;
    height: 35px;
    font-size: 10px;
    }
    .lasttext p{
        font-size: 15px; 
    }
    .image img{
        width: 45px;
        height: 34px;
    }
    .section2{ 
        justify-content: space-between;
    }
    .txt{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }
    .zxcvb{ 
        width: 80%; 
    }
    .zxcvb img{
        width: 100px;
        height: 125px;
    }
    .txt h2{
        font-size: 24px;
    }
    .txt p{
        font-size: 10px;
          }
    .hight{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hgw{
    width: 100%;
    height: 70%;
    }
    .hgw h1{
        font-size: 33px;
        margin-bottom: 20px;
    }
    .p1{
        line-height: 1.5;
        font-size: 11px;
    }
    button{
        width: 100px;
        height: 60px;
        font-size: 10px;
    }
    .bg h1{
        font-size: 35px;
    }
    .booked{
        width: 100%;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .price{
        width: 56px;
        height: 30px;
        position: relative;
        bottom: 10px;
    }
    .section3{ 
        height: 500px;
    }
    .section3 .price {
        font-size: 20px;
    }
    .section3 h2{
        font-size: 10px;
        white-space: nowrap;
    }
    .p1{
        font-size: 8px; 
        position: relative;
        bottom: 5px;
    }
    .section3 h1{
        text-align: center;
        font-size: 40px;
    }
    .section3 button{
        width: 48px;
        height: 48px;
        margin: 15px;
    }
    .foti_2, .foti_3 {
        width: 100px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .s3_img{
        width: 100%;
        height: 300px;
        gap: 8px;
    }
    .s3_img button, .s4_button button{
        width: 24px;
        height: 24px;
    }
    .s3_img button{
        position: relative;
        bottom: 30px;
        margin: 10px;
    }
    .s3_img button img, .s4_button button img{
        width: 15px;height: 15px;
    }
    .foti_2 img{
        width: 92px;
        height: auto;
        position: relative;
    }
    .foti_3 img{
        width: 102px;height: auto;
    }
    .foti_2 h2 img, .foti_3 h2 img{
        width: 15px;
        height: 15px;
    }
    .foti_2 h2, .foti_3 h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foti_1{
        display: none;
    }
    .zagolovok h1{
        font-size: 40px;
    }
    .section4 img{
        width: 50%;
        height: auto;
    }
    .blokText .del{
        display: none;
    }
    .blokText{
        width: 150%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .blokText div{
        margin: 0;
        height: 300px;
    }
    .blokText div p{
        font-size: 11px; 
    }
    .textik{
        width: 95%;
        height: 80%;
        justify-content: space-around;
    }
    .textik h1{
        width: 80%;
        font-size: 35px;
    }
    .textik h2{ 
        font-size: 20px; 
    }
    .mili{
        width: 100%;
        height: auto;
        top: 3835px;
        right: 70px;
    }
    .mili img{
        width: 60%;
        height: auto;
    }
    footer{ 
        height: 650px; 
    }
    footer .spiski{
        flex-wrap: wrap;
        padding: 0 15px;
        gap: 30px;
    }
    .spiski ul li p{
        font-size: 13px;
    }
    footer .ale{
        padding: 0 0 0 117px; 
    }
    .alo{ 
        margin-bottom: 20px; 
        }
}











